{{!-- assets/javascripts/discourse/templates/admin/plugins/mealie.hbs --}}
<div class="mealie-admin">
  <h2>{{i18n "mealie_integration.title"}}</h2>
  
  <p>{{i18n "mealie_integration.description"}}</p>
  
  {{mealie-admin-settings}}
</div>